<!-- Start of first page -->
<div data-role="page" id="form" data-url="form" tabindex="0"
    class="ui-page ui-page-theme-a ui-page-active" style="min-height: 658px;">
  <div class="fullwidth">
    <div class="wrap_section_narrow_top">
      <div class="row ">
        <div class="span_s">
          <div class="thumb_small">
            <%= image_tag 'swedish.jpg' %>
          </div>
        </div>
        <div id="topictitle" class="question">How many patients did you see today?</div>
      </div>
    </div>
  </div>

  <div class="wrap_section_narrow">
    <div class="spacer">
      <%= date_field_tag(:date, Date.today, onchange: "setEncounteredOn()") %>
    </div>
  </div>

  <div class="wrap_section_narrow">
    <a href="#" data-transition="slide"
        onclick="sectionSet(&#39;adult_medicine&#39;)" class="ui-link">
      <div class="lineitem_end">
        <div class="linelabel blockFloat">Adult Medicine</div>
        <div id="adult_medicine" class="linenumber gradient_light blockFloatRight">0</div>
      </div>
    </a>
    <a href="#" data-transition="slide" onclick="sectionSet(&#39;icu&#39;)" class="ui-link">
      <div class="lineitem">
        <div class="linelabel blockFloat">ICU</div>
        <div id="icu" class="linenumber gradient_light blockFloatRight">0</div>
      </div>
    </a>
    <a href="#" data-transition="slide" onclick="sectionSet(&#39;long_term_care&#39;)" class="ui-link">
      <div class="lineitem">
        <div class="linelabel blockFloat">Long-term Care</div>
        <div id="long_term_care" class="linenumber gradient_light blockFloatRight">0</div>
      </div>
    </a>
    <a href="#" data-transition="slide" onclick="sectionSet(&#39;newborn&#39;)" class="ui-link">
      <div class="lineitem">
        <div class="linelabel blockFloat">Newborn</div>
        <div id="newborn" class="linenumber gradient_light blockFloatRight">0</div>
      </div>
    </a>
    <a href="#" data-transition="slide" onclick="sectionSet(&#39;pediatric_inpatient&#39;)" class="ui-link">
      <div class="lineitem">
        <div class="linelabel blockFloat">Pediatric Inpatient</div>
        <div id="pediatric_inpatient" class="linenumber gradient_light blockFloatRight">0</div>
      </div>
    </a>

    <div class="form-block">
      <%= render 'form' %>
    </div>
    <div class="spacer2">
    </div>
  </div>
</div>

<%= render 'hours_selector' %>

<script>
  $( ".hourline" ).bind( "tap", function() {
    console.log($( this ).text().replace(/\s+/g, " "));
    var str = $( this ).text().replace(/\s+/g, " ");
    var ret = str.split(" ");
    var str1 = ret[0];
    var str2 = ret[1];
    console.log(ret);
    setHours(str2);
  });

  $(document).ready( function() {
    $('html').removeClass('ui-loading');
    $('div.ui-loader.ui-corner-all.ui-body-a.ui-loader-default').remove()
    button = $('input.signUpBtnMid.blockFloatRight');
    button.parent().replaceWith(button);
  });

  var section;
  var remaining = 24;

  function sectionSet(a){
    console.log(a);
    section = a;
    incrementNumber();
    // showHours()
  }

  function incrementNumber(){
    console.log(section);
    current_value = parseInt( $('#' + section).text() );
    console.log(current_value);
    current_value++;
    console.log(current_value);

    $("#"+section).html(current_value);
    $('#encounter_types_' + section).val(current_value);

    $("#"+section).addClass( "gradient_blue" );
    $("#"+section).removeClass( "gradient_light" );
    calcTotal();
  }

  function calcTotal(){
    var total =  parseInt($('#encounter_types_adult_medicine').val()) +
                 parseInt($('#encounter_types_icu').val()) +
                 parseInt($('#encounter_types_long_term_care').val()) +
                 parseInt($('#encounter_types_newborn').val()) +
                 parseInt($('#encounter_types_pediatric_inpatient').val()) +
                 parseInt($('#encounter_types_other').val());
    console.log (total);
    $("#total").html(total);
  }

  function calcAvailable(){
    var total =  parseInt($('input[name="sessions"]').val())+parseInt($('input[name="waiting"]').val())+parseInt($('input[name="eating"]').val())+parseInt($('input[name="sleeping"]').val())+parseInt($('input[name="parties"]').val());
    console.log (total);
    remaining = 24 - total;
    $('input[name="other"]').val(remaining);
    $("#other").html(remaining);
  }

  function setEncounteredOn(){
    var date = $('#date').val();
    console.log(date);

    $('#encountered_on').val(date);
  }

  function showHours(){
    $("#instr").html("Select how many hours you spent on " + section);

    if(parseInt($('input[name="' + section + '"]').val())>(remaining) ){

      var limit = parseInt($('input[name="' + section + '"]').val())+remaining;

    }else{

      var limit = remaining;

    }
    console.log("limit="+limit);
    for (var i = 1; i < 25; i += 1) {

      if (i<=(limit)){
        $("#h"+(i)).css( "display", "block" );
      }else{
        $("#h"+(i)).css( "display", "none" );

      }
    }
  }

  function setHours(a){
    console.log(section);
    console.log (a);
    $('input[name="' + section + '"]').val(a);
    $("#"+section).html(a);
    $('input[name="' + section + '"]').val(a);

    $("#"+section).addClass( "gradient_blue" );
    $("#"+section).removeClass( "gradient_light" );
    calcAvailable();
  }

  function generateUUID() {
    var d = new Date().getTime();
    var uuid = 'xxxxxxxxxxxx4xxxyxxxxxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
      var r = (d + Math.random()*16)%16 | 0;
      d = Math.floor(d/16);
      return (c=='x' ? r : (r&0x7|0x8)).toString(16);
    });
    guidfield.value=uuid;
    $('input[name="hidden[return]"]').val("/my_roi/"+uuid)

    loc = uuid;
    var now = new Date();

    var day = ("0" + now.getDate()).slice(-2);
    var month = ("0" + (now.getMonth() + 1)).slice(-2);

    var today = now.getFullYear()+"-"+(month)+"-"+(day) ;
    $('input[name="day"]').val(today);
    getVars();

  };


  function getVars(){

    var locate = String(window.location.href);

    console.log(locate);
    console.log(locate.indexOf("conf="));

    if (locate.indexOf("conf=")!=-1)
    {
      theleft = locate.indexOf("conf=") + 5;
      theright = locate.length;
      console.log(locate.substring(theleft, theright));
      document.getElementById('topictitle').innerHTML = "What is the real cost of " +
        locate.substring(theleft, theright) + "?";
      conffield.value = locate.substring(theleft, theright);
    }else{

      document.getElementById('topictitle').innerHTML = "What is the real cost of this conference?";
      conffield.value = "this conference";
    }

  }
  function gotoPage() {
    console.log(loc);
  }
</script>
