<p id="notice"><%= notice %></p>

<p>
  <strong>Encounter Type:</strong>
  <%= @patient.encounter_type %>
</p>

<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
