@font-face {
    font-family: 'GibsonSemiBold';
    src: url('../css/gibson/gibsonsemibold-webfont.eot');
    src: url('../css/gibson/gibsonsemibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../css/gibson/gibsonsemibold-webfont.woff') format('woff'),
         url('../css/gibson/gibsonsemibold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GibsonRegular';
    src: url('../css/gibson/gibsonregular-webfont.eot');
    src: url('../css/gibson/gibsonregular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../css/gibson/gibsonregular-webfont.woff') format('woff'),
         url('../css/gibson/gibsonregular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'GibsonLight';
    src: url('../css/gibson/gibsonlight-webfont.eot');
    src: url('../css/gibson/gibsonlight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../css/gibson/gibsonlight-webfont.woff') format('woff'),
         url('../css/gibson/gibsonlight-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

