@font-face {
    font-family: 'GibsonSemiBold';
    src: font-url('gibsonsemibold-webfont.eot');
    src: font-url('gibsonsemibold-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('gibsonsemibold-webfont.woff') format('woff'),
         font-url('gibsonsemibold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GibsonRegular';
    src: font-url('gibsonregular-webfont.eot');
    src: font-url('gibsonregular-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('gibsonregular-webfont.woff') format('woff'),
         font-url('gibsonregular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'GibsonLight';
    src: font-url('gibsonlight-webfont.eot');
    src: font-url('gibsonlight-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('gibsonlight-webfont.woff') format('woff'),
         font-url('gibsonlight-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

