pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
}

div {
  &.field, &.actions {
    margin: 2.5em auto auto auto;
  }
}

#success, .success, #notice, .notice {
  color: green;
  font-family: 'GibsonSemiBold', Verdana, sans-serif;
  font-size: 1.25em;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 0em;
}

#alert, .alert{
  color: red;
  font-family: 'GibsonSemiBold', Verdana, sans-serif;
  font-size: 1.25em;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 0em;
}

.field_with_errors div input{
  -webkit-box-shadow: 0 0 .75em red;
  -moz-box-shadow: 0 0 .75em red;
  box-shadow: 0 0 .75em red;
}

#error_explanation {
  border: 2px solid red;
  border-radius: 0.3125em;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  -webkit-box-shadow: 0 0 .75em red;
  -moz-box-shadow: 0 0 .75em red;
  box-shadow: 0 0 .75em red;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 1em;
    margin: -7px;
    margin-bottom: 0px;
    background-color: red;
    background-color: rgba(255, 0, 0, 0.6);
    color: #fff;
  }
  ul li {
    font-size: 1em;
    list-style: circle;
  }
}
