<div class="fullwidth">
  <div class="wrap_section_narrow_top">
    <div class="row">
      <div class="span_s">
        <div class="thumb_small">
          <%= image_tag 'swedish.jpg' %>
        </div>
      </div>
      <div class="header_title">
        <%= yield :header_title %>
      </div>
    </div>
  </div>
</div>
